.bodyContainer{
  display:flex;
  height: 75%;
  padding-left: 35px;
}
.textContent{
  padding-left: 35px;
  float: right;
}

.bodyGraphic{
  height:150vh;
  min-height: 25px;
  width:300px;
  background-size: cover;
}