.footer{
  position:sticky;
  display: flex;
  bottom:0;
  z-index: 100;

}

.graphicContainer{
  padding-left: 35px;
  background-color: #fff;
}

.footerGraphic{
  width:300px;
  height:100%;
}

.footerTextBlock{
  position: relative;
  width: 100%;
  background-color: transparent;
}

.text{
position:absolute;
bottom:0;
height: 15%;
width:100vw;
background-color: #fff;
padding: 5% 10%;
}