.footer{
  position:sticky;
  display: flex;
  bottom:0;
  z-index: 100;
}

.graphicContainer{
  padding-left: 35px;
  background-color: #fff;
}

.footerGraphic{
  display:flex;
  width:300px;
  height:100%;
}

.footerTextBlock{
  position:absolute;
  bottom:0;  
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content:end;
}

.icons{
position:relative;
display:flex;
/* bottom:0;
right:0; */
float: right;
/* height: 15%; */
/* width:100vw; */
background-color: #fff;
/* padding: 5% 10%; */
}

.textLinks{
  position:relative;
  bottom:0;
  padding-right: 25px;
}

.textLink{
  padding-right:25px;
}

.mediaIcon {
  max-width: 25px;
  max-height: 25px;
  padding-right: 15px;
  background-color: #fff;
}