.footer{
  position:sticky;
  display: flex;
  bottom:0;
}

.graphicContainer{
  padding-left: 35px;
  background-color: #fff;
  /* width:100%; */
}

.footerGraphic{
  width:300px;
  height:100%;
}

.footerTextBlock{
  padding-top: 25%;
  width: 100%;
}