.projectsContainer {
  display:flex;
  flex-direction: row;
  margin-top: -10%;
  padding-left: 10%;
  padding-bottom: 30%;

}

.project {
  min-width: 400px;
  justify-content: center;
  text-align: center;
  background-color: rgb(211, 211, 211);
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
}

.project img {
  width: 350px;
}

a {
  text-decoration: none;
}
